<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h2 class="text-center mb-4">Inscrivez-vous sur ShareTheCar</h2>
      <div class="card p-4 shadow bg-white">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs mb-3 mt-2">
            <%= f.input :first_name, required: true, autofocus: true, input_html: { class: 'form-control'}, wrapper: false %>
            <%= f.input :last_name, required: true, input_html: { class: 'form-control' }, wrapper: false %>
            <%= f.input :phone_number, required: true, input_html: { class: 'form-control' }, wrapper: false %>
            <%= f.input :email, required: true, input_html: { class: 'form-control', autocomplete: "email" }, wrapper: false %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { class: 'form-control', autocomplete: "new-password" }, wrapper: false %>
            <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control', autocomplete: "new-password" }, wrapper: false %>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "S'inscrire", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
        <div class="text-center mt-2">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
