<div id="message-<%= message.id %>" class="<%= 'my-message' if message.user == current_user %> message-content-container">
  <div class="text-content">
    <small>
      <strong><%= message.user.full_name %></strong>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
    <p><%= message.content %></p>
  </div>
</div>
