<div id="message-<%= message.id %>" class="<%= 'my-message' if message.user == current_user %> message-content-container">
  <div class="text-content">
    <small>
      <strong><%= message.user.full_name %></strong>
      <i><%= I18n.l(message.created_at, format: :long) %></i>
    </small>
    <p><%= message.content %></p>
  </div>
</div>
