<div class="message-row d-flex align-items-end <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
  <% if not message.sender?(current_user) %>
    <div class="px-2">
      <%= cl_image_tag(message.user.avatar.key, alt: message.user.full_name, class: "avatar", width: 50, crop: :fill) if message.user.avatar.attached? %>
    </div>
  <% end %>
  <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
    <div id="message-<%= message.id %>" class="<%= 'my-message' if message.user == current_user %> message-content-container">
      <div class="text-content">
        <small>
          <strong><%= message.user.full_name %></strong>
          <i><%= I18n.l(message.created_at, format: :long) %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    </div>
  </div>
  <% if message.sender?(current_user) %>
    <div class="px-2">
      <%= cl_image_tag(message.user.avatar.key, alt: message.user.full_name, class: "avatar", width: 50, crop: :fill) if message.user.avatar.attached? %>
    </div>
  <% end %>
</div>
