<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100 sticky-top" style="width: 280px;">
  <div class="text-center my-3">
    <%= link_to root_path, class: 'text-white text-decoration-none' do %>
      <h3 class="mb-0">ShareTheCar</h3>
    <% end %>
    <small><%= current_user.company.name %></small>
  </div>
  <hr class="mb-3">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link text-white" aria-current="page">
        <%= link_to dashboard_path, class: "nav-link text-white #{controller_name == 'pages' ? 'active' : ''}" do %>
          <i class="fas fa-dashboard pe-2"></i> Tableau de bord
        <% end %>
      </a>
    </li>
    <li>
      <%= link_to cars_path, class: "nav-link text-white #{controller_name == 'cars' ? 'active' : ''}" do %>
        <i class="fas fa-car pe-2"></i> Voitures
      <% end %>
    </li>
    <hr>
    <li>
      <%= link_to user_path(current_user), class: "nav-link text-white #{controller_name == 'users' && action_name == 'show' ? 'active' : ''}" do %>
        <i class="fas fa-user pe-2"></i> Mon Profil
      <% end %>
    </li>
    <li>
      <%= link_to team_path, class: "nav-link text-white #{controller_name == 'pages' ? 'active' : ''}" do %>
        <i class="fas fa-user pe-2"></i> Meet the Team
      <% end %>
    </li>
  </ul>
</div>
