<div class="container-fluid">
  <div class="mt-3">
    <h1>Tableau de bord</h1>
    <div class="row mt-3">
      <%= render 'shared/dashboard_card', icon: 'hourglass-start', color: 'primary', text: 'Nombre de voitures que vous avez réservé', value: current_user.reservations.count %>
      <%= render 'shared/dashboard_card', icon: 'road', color: 'secondary', text: 'Kilomètrages moyen par réservations', value: "#{current_user.reservations.average(:kilometers_done) ? current_user.reservations.average(:kilometers_done) : '0'} km" %>
      <%= render 'shared/dashboard_card', icon: 'clock', color: 'success', text: 'Kilomètres total que vous avez effectué', value: "#{current_user.reservations.sum(:kilometers_done)} km" %>
      <%= render 'shared/dashboard_card', icon: 'car', color: 'info', text: 'Nombres de voitures disponible demain', value: @car_availables_tomorrow %>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <h2>Réservations en cours</h2>
        <div class="mt-3 table-responsive mx-n1 px-1 scrollbar">
          <table class="table fs-9 mb-0 border border-white table-light">
            <thead>
              <tr>
                <th class="bg-white">Véhicule</th>
                <th class="bg-white">Date d'emprunt</th>
                <th class="bg-white">Date de restitution</th>
                <th class="bg-white" style="width: 15%">Actions</th>
              </tr>
            </thead>
            <tbody class="list" id="table-latest-review-body">
              <% current_user.pending_reservations.each do |reservation| %>
                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                  <td class="align-middle">
                    <%= reservation.car.model %><br>
                    <small><i class="fas fa-rectangle-ad pe-1"></i> <%= reservation.car.plate_number %> <i class="ps-2 pe-1 fas fa-palette"></i><%= reservation.car.color %></small>
                  </td>
                  <td class="align-middle"><%= l reservation.start_date %></td>
                  <td class="align-middle"><%= l reservation.end_date %></td>
                  <td class="align-middle d-flex gap-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#voiture-<%= reservation.car.id %>">
                      Clôturer
                    </button>
                    <%= link_to 'Annuler', car_reservation_path(car_id: reservation.car_id, id: reservation.id), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir annuler cette réservation ?' }, class: 'btn btn-link' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% current_user.pending_reservations.each do |reservation| %>
  <div class="modal fade" id="voiture-<%= reservation.car.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Clôturer ma réservation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= simple_form_for reservation do |f| %>
          <div class="modal-body">
            <p>Vous êtes sur le point de clôturer votre réservation pour le véhicule "<%= reservation.car.model %>".<br>
              <br>
              Vous pouvez laisser un commentaire ci-dessous pour le suivi du véhicule. Merci de signaler toutes anomalies ou remarques.</p>
              <%= simple_fields_for :feedback do |p| %>
                <%= p.input :comment, as: :text, :input_html => { 'rows' => 5 } %>
              <% end %>
              <%= f.input :kilometers %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-bs-dismiss="modal">Annuler</button>
            <%= f.submit "Clôturer ma réservation", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
