<div class="banner" data-controller="image">
  <div class="container py-5 position-relative">
    <div class="col-8">
      <h1><strong>La Gestion <span class="highlight">Futuriste</span> de Véhicules<br>
          d'Entreprise</strong></h1>
      <div class="slogan p-2">
        <strong><span class="highlight">Facilitez</span></strong> la mobilité au sein de votre entreprise.<br>
        Planifiez et gérez les réservations de véhicules <strong><span class="highlight">sans effort</span></strong> avec ShareTheCars.<br>
        Simplifiez la gestion de votre flotte et donnez à votre équipe les moyens d'être <strong><span class="highlight">plus efficace </span></strong>
      </div>
      <div class="banner-cta" data-controller="image" data-action="mouseover->image#hover mouseout->image#unhover">
        <%= link_to cars_path, class: "btn btn-primary hover-trigger", id: "hover-trigger" do %>
          <i class="fas fa-play"></i> <strong>Démarrer avec ShareTheCars</strong>
        <% end %>
      </div>
    </div>
    <%= image_tag("voiture1.png", data: {image_target: "carImage" }, class:"img-right", id: "carImage") %>
    <%= image_tag("phare.png", data: {image_target: "carImage" }, class:"img-right d-none", id: "phare") %>
    <%= image_tag("humain.png", class: "logo-custom") %>
    <%= image_tag("share-the-cars-logo.png", class: "logo-share") %>
  </div>
</div>
<%= render "shared/service" %>
<%= render "shared/temoignages" %>
<%= render "shared/faq" %>
