<%= simple_form_for [@car, @reservation] do |f| %>
  <div class="card bg-white rounded rounded-4">
    <div class="card-body p-3" data-controller="datepicker" data-datepicker-dates-value="<%= @car.reservations.to_json %>">
      <div class="row">
        <%= f.input :start_date,
              as: :string,
              label: false,
              input_html: { value: @start_date, data: { datepicker_target: "container" }, id: "start_date", class: 'd-none text-center mx-auto' }
        %>
        <%= f.input :end_date,
              as: :hidden,
              input_html: {value: @end_date, id: "end_date"} %>
      </div>
      <div class="col-md-12 mt-2">
        <div class="text-center mt-3">
          <button type="button" class="btn btn-link d-block mx-auto" data-action="datepicker#reset">Réinitialiser les dates</button>
          <%= f.button :submit, "Réserver la voiture",  class: "btn btn-primary px-4 rounded-3" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
