<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-9">
      <div class="card bg-white rounded rounded-4">
        <%= cl_image_tag(@car.photo.key, class: "w-100") %>
      </div>
      <div class="card-body mt-3">
        <h1 class="card-title">
          <p><%= @car.model %></p>
        </h1>
        <div class="d-flex gap-3 mt-2">
          <span><i class="fas fa-palette"></i> <%= @car.color %></span><br>
          <span><i class="fas fa-rectangle-ad"></i> <%= @car.plate_number %></span><br>
        </div>
      </div>
      <div class="mt-4">
        <h2>Derniers commentaires</h2>
        <%= render "shared/feedbacks", feedbacks: @car.feedbacks %>
      </div>
    </div>
    <div class="col-md-3">
      <%= render "form" %>
    </div>
  </div>
</div>
