<!DOCTYPE html>
<html>
  <head>
    <title>Sharethecars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if controller_name == 'pages' && action_name != 'dashboard' || controller_name.start_with?('sessions') %>
      <%= render "shared/navbar" %>
      <%= yield %>
      <%= render "shared/footer" %>
    <% else %>
      <div class="d-flex">
        <%= render "shared/sidebar" %>
        <div class="w-100">
          <%= render "shared/navbar_for_sidebar" %>
          <%= yield %>
        </div>
      </div>
    <% end %>

    <%= render "shared/flashes" %>
  </body>
</html>
